[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.laba4
Exec=/usr/bin/ru.template.laba4
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=laba4
ExecDBus=/usr/bin/ru.template.laba4
