[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.labb6
Exec=/usr/bin/ru.template.labb6
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=labb6
ExecDBus=/usr/bin/ru.template.labb6
