[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lab1
Exec=/usr/bin/ru.template.lab1
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=lab1
ExecDBus=/usr/bin/ru.template.lab1
