[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lab5
Exec=/usr/bin/ru.template.lab5
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=lab5
ExecDBus=/usr/bin/ru.template.lab5
