[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lab6
Exec=/usr/bin/ru.template.lab6
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=lab6
ExecDBus=/usr/bin/ru.template.lab6
