[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.lab7
Exec=/usr/bin/ru.template.lab7
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=lab7
ExecDBus=/usr/bin/ru.template.lab7
